.navbarNavDropdown {
  float: right;
}

h1 {
  text-align: center;
  background-color: grey;
  color: red;
}

h2 {
  color: deeppink;
}

h3 {
  color: orange;
}

img {
  box-shadow: 10px 10px 5px black;
}

section {
  background-color: rgba(209, 42, 201, 0.39);
}

p {
  font-size: 15px;
  color: gray;
}

ul {
  /* border-style: solid; */
  color: gray;
  border: 1px gray solid;
}
